<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% for i in posts: %}
        <p>{{ i["id"] }}</p>
        <h1>{{ i["title"] }}</h1>
        <h5>{{ i["subtitle"] }}</h5>
        <p>{{ i["body"] }}</p>
    {% endfor %}

    <p>
        <a href="{{ url_for('hello')}}">
            <button>Home Page</button>
        </a>
    </p>
</body>
</html>